<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39714891069-iigng29gafhq6ud53usum1k7nf60lcr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39714891069-iigng29gafhq6ud53usum1k7nf60lcr3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39714891069-5v157tr1v9mb0sbtlvum0jfdohuo4mf0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTaenk1dU84tHLjfxWe0akzpqgKuLmsJA</string>
	<key>GCM_SENDER_ID</key>
	<string>39714891069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.needleNetworkMain</string>
	<key>PROJECT_ID</key>
	<string>needle-network</string>
	<key>STORAGE_BUCKET</key>
	<string>needle-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39714891069:ios:89621aff90cb8ba8091154</string>
</dict>
</plist>